<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encuéntralo::..</title>
    <link rel="shortcut icon" href="img/LogoInv2.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ptreesys.mx/sharedfiles/src/sweetalert.css">
    <script src="https://ptreesys.mx/sharedfiles/src/sweetalert.min.js"></script>

    <link rel="stylesheet" href="https://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    <script src="https://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
<style type="text/css">
   
    .navbar-default {
    background-color: #2c3e50;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
    color: #bdc3c7;
}


    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #F6F3F3;
    background-color: transparent;}

</style>
</head>
<body ng-cloak>

    <div ng-controller="ctrlProducts">
        <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Menu Navegacion</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="padding-top:2%; ">
      <img src="img/LogoInv2.png" width="50" height="45"/>Encuentralo</a>
    </div>

 

    <!-- Collect the nav links, forms, and other content for toggling -->
   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right">
    <li class="nav-item active "><a class="nav-link" href="/getPanel" ><span class="glyphicon glyphicon-cloud-upload"></span> Publica tus productos</a></li>   
    </ul>
    <div class="input-group" style="margin: auto; margin-top: 1%">
                          <input type="text" class="form-control" placeholder="¿Qué buscas?" ng-model="txtFind" uib-typeahead="txtproduct as txtproduct._id for txtproduct in txtProducts  | orderBy:'-count' | filter:$viewValue | limitTo:8"/>
                                    <span class="input-group-btn">
                                        <button ng-click="GetProducts();" class="btn btn-info" id="boton-search" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                        </div> 
    
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>       
        <div dw-loading="myloading" dw-loading-options="{text: 'Procesando...'}">

            <div ng-show="showFinder">
             <div class="row"> 
             <div class="col-md-3 ">
             <div class="panel panel-default" style="margin-left: 10px; background-color:#ecf0f1;">  
             <div class="panel-body">
             <label style="font-size: 14px;color:#34495e;">Ubicacion</label>
             
             <tags-input display-property="State"  class="bootstrap" min-length="1" ng-model="States" add-on-paste="true" placeholder=" " on-tag-added="tagAdded($tag)" on-tag-removed="tagAdded($tag)">
                 <auto-complete display-property="State" min-length="1" source="loadStates($query)" load-on-down-arrow="true"></auto-complete>
             </tags-input>

             <label>Marca</label>
             <tags-input display-property="Marca" min-length="1" ng-model="Makes" add-on-paste="true" placeholder=" " on-tag-added="tagAdded($tag)" on-tag-removed="tagAdded($tag)">
                 <auto-complete display-property="Marca" min-length="1" source="loadMakes($query)" load-on-down-arrow="true"></auto-complete>
             </tags-input>

             <label>Modelo</label>
             <tags-input display-property="Modelo" min-length="1" ng-model="Models" add-on-paste="true" placeholder=" " on-tag-added="tagAdded($tag)" on-tag-removed="tagAdded($tag)">
                 <auto-complete display-property="Modelo" min-length="1" source="loadModels($query)" load-on-down-arrow="true"></auto-complete>
             </tags-input>
             <label>Estado</label><br>
             <input ng-model="chkNew" ng-click="FilterProduct();" type="checkbox"> Nuevo<br>
             <input ng-model="chkUsed" ng-click="FilterProduct();" type="checkbox"> Usado<br>

             <label>Orden</label>
             <tags-input ng-model="Orders" min-length="1" add-on-paste="true" placeholder="" on-tag-added="tagAdded($tag)" on-tag-removed="tagAdded($tag)">
                 <auto-complete source="loadOrders($query)" min-length="0" load-on-empty="true" load-on-focus="true" load-on-down-arrow="true"></auto-complete>
             </tags-input>
             </div>
             </div>
             </div>
             <div class="col-md-9">
             <div class="">
                <div class="panel panel-default">  
                 <div class="panel-body">
                 <div class="table-responsive">
                     <table class="table table-striped" style="border:none;">
                         <thead style="background-color:#ecf0f1; ">
                             <tr>
                                 <th>Descripción</th>
                                 <th>Precio</th>
                                 <th>Cantidad</th>
                                 <th>Serial</th>
                                 <th>Estado</th>
                                 <th>Marca</th>
                                 <th>Modelo</th>
                                 <th>Comercio</th>
                                 <th>Ubicación</th>
                                 <th>Teléfono</th>
                                 <th>Correo</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr ng-repeat="Product in Products">
                                 <td>{{Product.Descripcion}}</td>
                                 <td>{{Product.Precio}}</td>
                                 <td>{{Product.Cantidad}}</td>
                                 <td>{{Product.Serial}}</td>
                                 <td>{{Product.Estado}}</td>
                                 <td>{{Product.Marca}}</td>
                                 <td>{{Product.Modelo}}</td>
                                 <td>{{Product.Enterprise}}</td>
                                 <td>{{Product.State}}</td>
                                 <td>{{Product.Phone}}</td>
                                 <td>{{Product.Email}}</td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
                </div> 
                </div>
             </div>
             </div>
             </div>

         </div>

            <div ng-show="!showFinder">
                Lo que está aquí es lo que se ve mientras NO han buscado
            </div>

    </div>
    
    <script src="js/controller.js"></script>
    <script src="js/angular-file-upload.min.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/angular-loading.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/angular-loading.css" />
    <link rel="stylesheet" type="text/css" href="css/autocomplete.css" />
    
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
</body>
</html>
