<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Day 001 Login Form</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ptreesys.mx/sharedfiles/src/sweetalert.css">
    <script src="https://ptreesys.mx/sharedfiles/src/sweetalert.min.js"></script>

    <link rel="stylesheet" href="https://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    <script src="https://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

    <title>Buscar productos</title>
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>

      <link rel="stylesheet" href="css/stylelogin.css">
  
</head>

<body>

    <div ng-controller="ctrlLogin">
        <div dw-loading="myloading" dw-loading-options="{text: 'Procesando...'}">

            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ingresar</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>
                    <div class="login-form">
                        <div class="sign-in-htm">
                            <div class="group">
                                <label for="user" class="label">Correo Electrónico</label>
                                <input ng-model="logEmail" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Contraseña</label>
                                <input ng-model="logPassword" type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <input ng-click="Login();" type="submit" class="button" value="Ingresar">
                            </div>
                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <a href="#" ng-click="ForgotPassword();">Olvidaste la contraseña?</a>
                            </div>
                        </div>
                        <div class="sign-up-htm">
                            <div class="group">
                                <label for="pass" class="label">Empresa</label>
                                <input ng-model="regEnterprise" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Correo Electrónico</label>
                                <input ng-model="regEmail" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Teléfono -Opcional-</label>
                                <input ng-model="regPhone" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Ubicación Estado</label>
                                <select class="form-control"
                                        ng-model="selectedState"
                                        ng-options="State as State.name for State in States">
                                </select>
                            </div>
                            <div class="group">
                                <input ng-click="Registration();" type="submit" class="button" value="Registrarse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <script src="js/controller.js"></script>
    <script src="js/angular-file-upload.min.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/angular-loading.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/angular-loading.css" />
    <link rel="stylesheet" type="text/css" href="css/autocomplete.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/upload_style.css">

</body>
</html>
